@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
    background: white;
    opacity: 0.3;
    width: 8px;
    height: 8px;
    border-radius: 9999px;
    margin: 0 6px;
  }
  
  .swiper-pagination-bullet-active {
    background: #f4715f;
    opacity: 1;
  }
  